<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PoolApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_pond"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_pond_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pool">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Pool"
            android:windowSoftInputMode="adjustResize" />

        <activity-alias
            android:name=".MainActivityAliasPond"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_pond"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_pond_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasLeaf"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_leaf"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_leaf_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name=".widget.TodayScheduleWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_today_schedule_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/pool_widget_today" />
        </receiver>

        <receiver
            android:name=".widget.DdlWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_ddl_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/pool_widget_ddl" />
        </receiver>

        <receiver
            android:name=".widget.ReminderWidgetReceiver"
            android:exported="true"
            android:label="@string/widget_reminder_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/pool_widget_reminder" />
        </receiver>
    </application>

</manifest>